<?xml version="1.0" encoding="utf-8" ?>
<ModConfigSection>
  
  <Plugins>
    <Plugin File="ModBase.dll" />    
    <Plugin File="ModElements.dll"/>
  </Plugins>

  <Modules>
    <Module Type="RunnableWorker`1[[Job]]">
      <Modules>
        <Module Property="Runnable" Type="ThreadRunnable">
          <Properties>
            <Property Name="AutoStart" Value="true"/>
          </Properties>
        </Module>
        <Module Property="Worker" Type="Worker`1[[Job]]">
          <Properties>
            <Property Name="Padlock" Key="key003" Original="true"/>
          </Properties>
          <Modules>
            <Module Property="Pool" Type="Pipe`1[[Job]]">
              <Modules>
                <Module Type="Job" Key="1" ExecuteLimit="10" Interval="1000"  IsEnabled="false">
                  <Properties>
                    <Property Name="Label" Original="true" Key="key001" Value="Appelsap"/>
                    <Property Name="CrashCount" Value="10" Key="key002" Original="true"/>
                  </Properties>
                </Module>
                <Module Type="Job" Key="2" Label="Job 2" ExecuteLimit="10" Interval="500"   IsEnabled="true"/>
                <Module Type="Job" Key="3" Label="Job 3" ExecuteLimit="10" Interval="250"   IsEnabled="false"/>
                <Module Type="Job" Key="4" ExecuteLimit="10" Interval="100"   IsEnabled="false">
                  <Properties>
                    <Property Name="Label" Key="key001" />
                  </Properties>
                </Module>
                <Module Type="Job" Key="5" Label="Job 5" ExecuteLimit="10" Interval="10"    IsEnabled="false"/>
                <Module Type="Job" Key="6" Label="Job 6" ExecuteLimit="10" Interval="1"     IsEnabled="true">
                  <Properties>
                    <Property Name="CrashCount" Key="key002"/>
                    <Property Name="Padlock" Key="key003"/>
                  </Properties>
                </Module>
              </Modules>
            </Module>
          </Modules>
        </Module>
      </Modules>
    </Module>
  </Modules>
  
</ModConfigSection>
